<div class="page-header">
  <h3>User <%= @user.username %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">

      <dt>User ID</dt>
      <dd><%= @user.id %></dd>


      <dt>Email</dt>
      <dd><%= @user.email %></dd>


      <dt>Username</dt>
      <dd><%= @user.username %></dd>

      <dt>Photos</dt>
      <% @user_photos.each do |photo| %>
      <tr>

        <td><img src="<%= photo.image %>" class="img-responsive"</a></td>

        <td><%= photo.caption %></td>

        <td><%= photo.id %></td>

        <td>
      </tr>
        <% end %>

    </dl>

    <div class="btn-group btn-group-justified">

      <a href="/users" class="btn btn-primary">
        Back
      </a>


    </div>
  </div>
</div>
