<div class="page-header">
          <a href="/photos/new" class="btn btn-lg btn-success"><i class="fa fa-plus" aria-hidden="true"></i></a>
</div>

<div class="row">
    <div class="col-md-12">

        <% @photos.each do |photo| %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><%= User.find_by(id: photo.user_id).username %>
                  <p class="text-muted"><%=time_ago_in_words(photo.updated_at) %> ago </p>
                </h3>
            </div>
            <div class="panel-body">
                <p class="text-muted">
                    <%= photo.caption %>
                <img src="<%= photo.image %>" class="img-responsive" </a>
                       <% current_like = photo.likes.find_by(:user_id => current_user.id, :photo_id => photo.id) %>
                       <% if photo.fans.exists?(current_user.id) %>
                         <form action="/delete_like/<%= current_like.id %>" method="post" rel="nofollow">
                           <!-- Hidden input for authenticity token to protect from forgery -->
                           <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                           <button class="btn btn-link">
                             <i class="fa fa-heart" aria-hidden="true"></i>
                           </button>
                           <% if photo.fans.count > 1 %>
                             <%= photo.fans.pluck(:username).to_sentence %> like this
                           <% else %>
                             <%= photo.fans.pluck(:username).to_sentence %> likes this
                           <% end %>
                         </form>
                       <% else %>
                         <form action="/create_like" method="post">
                           <!-- Hidden input for authenticity token to protect from forgery -->
                           <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                           <input type="hidden" name="photo_id" value="<%= photo.id %>">
                           <input type="hidden" name="user_id" value="<%= current_user.id %>">
                           <button class="btn btn-link">
                             <i class="fa fa-heart-o" aria-hidden="true"></i>
                           </button>
                           <% if photo.fans.exists? %>
                             <% if photo.fans.count > 1 %>
                               <%= photo.fans.pluck(:username).to_sentence %> like this
                             <% else %>
                               <%= photo.fans.pluck(:username).to_sentence %> likes this
                             <% end %>
                           <% else %>
                             <small class="text-muted">be the first to like this</small>
                           <% end %>
                         </form>
                       <% end %>
                     </p>

            <form action="/create_comment" method="post">
              <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
              <input type="hidden" name="photo_id" value="<%= photo.id %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required="">
            </form>
              <% if current_user.id == photo.user_id %>
              <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
              <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
              <% else %>
              <% end %>
              <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>
            </br>
              <% @current_photo = Comment.where(photo_id: photo.id) %>
                <% @current_photo.each do |comment| %>
                <%= comment.user.username %> <%= time_ago_in_words(comment.created_at) %>
                <p class="text-muted">
                    <%= comment.body %>
                </p>
              <% end %>



    </div>
  </div>

  <% end %>

</div>
</div>
